@font-face {
  font-family: 'Ionicons';
  src: url('https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1');
  src: url('https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix') format('embedded-opentype'),
    url('https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1') format('truetype'),
    url('https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1') format('woff'),
    url('https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* 
body,
html {
  min-width: 1200px;
} */

.MapContainer {
  z-index: 10;
}

.MapContainer-marker {
  position: relative;
  height: 5vmin;
  z-index: 5;
  transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
}

.MapContainer-userMarker {
  position: relative;
  height: 5vmin;
  z-index: 3;
}

@keyframes growing-marker {
  0% {}

  100% {
    border-width: 1px;
    opacity: 0;
    transform: scale(3);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
  }
}

.MapContainer-userMarker-glow {
  z-index: 2;
  transform-origin: center;
  animation: growing-marker 3s infinite;
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid 3px white;
  border-radius: 300px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  -o-border-radius: 300px;
  -webkit-animation: growing-marker 3s infinite;
}

ion-icon[name='contract'] {
  position: absolute;
  mix-blend-mode: difference;
  font-size: 3em;
  z-index: 0;
  left: 50%;
  opacity: 0.2;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}


.UserMarker,
.Marker {
  user-select: none;
  animation: ease-in-out Marker-Appear 0.3s;
  -webkit-animation: ease-in-out Marker-Appear 0.3s;
  position: relative;
}

.Marker:hover {
  cursor: pointer;
}

.Tooltip {
  pointer-events: none;
  color: #8f2ffd;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 100px;
  min-height: 120px;
  background: white;
  border-radius: 1.3vw;
  padding: 0.5vw;
  position: absolute;
  left: 50%;
  top: -200%;
  transform: translate(-35%, -50%);
  box-shadow: 0 12px 6px rgba(0, 0, 0, 0.037);
  opacity: 0;
  margin-top: -20px;
  z-index: 21 !important;
  transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  -webkit-transform: translate(-35%, -50%);
  -moz-transform: translate(-35%, -50%);
  -ms-transform: translate(-35%, -50%);
  -o-transform: translate(-35%, -50%);
}

.Marker:hover .Tooltip {
  opacity: 1;
  margin-top: 0;
}

@keyframes Marker-Appear {
  0% {
    opacity: 0;
    margin-top: -10px;
  }

  100% {
    opacity: 1;
  }
}

.refresh-map {
  pointer-events: all;
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 2%;
  box-shadow: 0 12px 6px rgba(0, 0, 0, 0.037);
  transform: translate(-50%);
  background: white;
  padding: 0.7%;
  border-radius: 1.3vw;
  -webkit-border-radius: 1.3vw;
  -moz-border-radius: 1.3vw;
  -ms-border-radius: 1.3vw;
  -o-border-radius: 1.3vw;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.refresh-map *:hover,
.refresh-map:hover {
  cursor: pointer;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

label {
  font-weight: bolder;
}

input[type='checkbox']:checked {
  background-color: #8f2ffd;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

input[type='checkbox']:checked:after {
  content: '\f122';
  font-family: 'Ionicons';
  font-size: 1rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

input[type='button'] {
  background: none;
  border: none;
  outline: none;
  font-weight: bolder;
}

.refresh-button input {
  font-size: 1rem;

  padding: 9px;
  border-radius: 3px;
  display: inline-block;
}

.refresh-button:before {
  content: '\f3a8';
  font-family: 'Ionicons';
  font-size: 1rem;
  color: black;
}


ion-icon[name="compass"] {
  font-weight: bolder;
  font-size: 1rem;
  animation: Loader ease-in-out .7s infinite;
  -webkit-animation: Loader ease-in-out .7s infinite;
}

@keyframes Loader {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.location-button {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
  border: solid .5px rgb(221, 221, 221);
  background: #fff;
  position: absolute;
  z-index: 20;
  color: rgb(143, 143, 143);
  padding: 15px;
  border-radius: 3vw;
  left: 59.5%;
  transform: translate(-50%, -50%);
  top: 4.7%;
  -webkit-border-radius: 3vw;
  -moz-border-radius: 3vw;
  -ms-border-radius: 3vw;
  -o-border-radius: 3vw;
  transition: ease-in-out .2s;
  -webkit-transition: ease-in-out .2s;
  -moz-transition: ease-in-out .2s;
  -ms-transition: ease-in-out .2s;
  -o-transition: ease-in-out .2s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}


.location-button:hover,
.location-button.active {
  color: #8f2ffd;
  cursor: pointer;
}

.location-button ion-icon {
  position: absolute;
  width: 65%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}