.Search {
  position: relative;

}



.Search-Dropdown-List {
  opacity: 0;
  visibility: hidden;
  text-align: left;
  position: absolute;
  background: #fff;
  z-index: 40;
  margin-top: 6%;
  left: 50%;
  transform: translateX(-53%);
  border-bottom-left-radius: 1.3vw;
  border-bottom-right-radius: 1.3vw;
  width: 50%;
  -webkit-transform: translateX(-48%);
  -moz-transform: translateX(-53%);
  -ms-transform: translateX(-53%);
  -o-transform: translateX(-53%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.137);
  overflow: hidden;
}

.search-fields-wrapper {
  position: relative;
  margin-top: 3%;
}

.Search input {
  visibility: hidden;
  z-index: 43;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.Search input.visible {
  visibility: visible;
}

.Search #search-field:focus+.Search-Dropdown-List,
.Search-Dropdown-List:active {
  opacity: 1;
  visibility: visible;
}

.Search-Results {
  border-bottom: solid 1px rgb(236, 236, 236);
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: rgb(146, 146, 146);
  pointer-events: all !important;
  z-index: 50;
}

.Search-Results em {
  font-weight: bolder;
  color: black;
  text-transform: none;
  font-style: normal;
}

.Search-Results:hover,
.Search-Results.selected {
  background: rgb(245, 245, 245);
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

.Search-Results.open:after {
  color: #1ad488;
  content: ' \f3a7';
  font-family: 'Ionicons';
  animation: ease-in-out Open-Puce-Blinking 1.6s infinite;
  -webkit-animation: ease-in-out Open-Puce-Blinking 1.6s infinite;
}

@keyframes Open-Puce-Blinking {
  0% {
    opacity: 0.1;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

.Search-MapToggler {
  height: 100%;
  z-index: 153;


}

.Search-MapToggler ion-icon {
  transition: ease-in-out .2s;
  margin-top: 15px;
  margin-bottom: -24px;
  margin-left: 15px;
  background: #fff;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
  border-radius: 1.3vw;
  -webkit-border-radius: 1.3vw;
  -moz-border-radius: 1.3vw;
  -ms-border-radius: 1.3vw;
  -o-border-radius: 1.3vw;
  -webkit-transition: ease-in-out .2s;
  -moz-transition: ease-in-out .2s;
  -ms-transition: ease-in-out .2s;
  -o-transition: ease-in-out .2s;
  visibility: visible;
}

.Search-MapToggler ion-icon.active {
  color: #8f2ffd;
}

.Search-MapToggler ion-icon:hover {
  cursor: pointer;
  padding: 8px;
}

.Search .pac-container {
  background: white;
  padding-bottom: 1%;
  border-bottom-left-radius: 1.3vw;
  border-bottom-right-radius: 1.3vw;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.11);
  z-index: 42 !important;
  top: 0% !important;
  margin-top: 4%;
  left: 52% !important;
  width: 40% !important;
  transform: translate(-50%);
  display: block !important;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.Search .pac-container:after {
  background: white;

  position: absolute;
  content: '';
  border-bottom: solid 5px white;
  top: -2.5%;
  width: 100%;
  height: 1.5vh;
  border-bottom-left-radius: 192vw;
  border-bottom-right-radius: 192vw;

}

.Search .pac-item:nth-child(1) {
  padding-top: 7%;
}