.Card {
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.185);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 10vh;
  border-radius: 1.3vw;
  -webkit-border-radius: 1.3vw;
  -moz-border-radius: 1.3vw;
  -ms-border-radius: 1.3vw;
  -o-border-radius: 1.3vw;
  margin: 15px;
  transition: ease-in-out 0.32s;
  -webkit-transition: ease-in-out 0.32s;
  -moz-transition: ease-in-out 0.32s;
  -ms-transition: ease-in-out 0.32s;
  -o-transition: ease-in-out 0.32s;
  animation: ease-in-out Card-Appear .5s;
  -webkit-animation: ease-in-out Card-Appear .5s;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}


.Card-banner {
  transition: height ease-in-out 0.6s, ease-in-out 0.15s;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;

  justify-content: space-between;
  background: #efefef;
  width: 100%;
  height: 100%;
  border-radius: 1.3vw;
  margin-bottom: 0%;
  -webkit-border-radius: 1.3vw;
  -moz-border-radius: 1.3vw;
  -ms-border-radius: 1.3vw;
  -o-border-radius: 1.3vw;
  -webkit-transition: height ease-in-out 0.6s, ease-in-out 0.15s;
  -moz-transition: height ease-in-out 0.6s, ease-in-out 0.15s;
  -ms-transition: height ease-in-out 0.6s, ease-in-out 0.15s;
  -o-transition: height ease-in-out 0.6s, ease-in-out 0.15s;
}

.Card:hover {
  cursor: pointer;
}

.Card-informations {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  align-content: center;
}

.Card-restaurantName {
  font-size: .9rem;
  color: #929292;
  font-size: 1.2em;
  margin: 0;
  margin-left: 25px;
  margin-right: 5px;
}

.Card-address {
  margin: 0;
  text-align: left;
  margin-left: 25px;
  font-size: 1.8rem;
  font-weight: bolder;
  color: #423943;
  flex: 1 0 70%;

}

.Card-restaurantStatus {
  text-align: left;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.71em;
  flex: 1 0 30%;
}

.Card .open:after {
  color: #1ad488;
  content: 'open';
}

.Card .unconfirmed:after {
  color: #1a45d4;
  content: 'unconfirmed';
}

.Card .closed:after {
  color: #d41a20;

  content: 'closed';
}

.Card .unknown:after {
  color: #dddddd;

  content: 'unknown';
}

.Card-options {
  display: flex;
  height: 100%;
  width: 30%;
  text-align: center;
  flex-basis: 30%;
}

.Card-options a:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.Card-options a.unavailable {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.2);

}

.Card-ratings {
  position: absolute;
  top: 50%;
  right: 29%;
  transform: translate(-50%, -50%);
  margin-right: 15px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}



.Card-optionsButton {
  transition: background ease-in-out 0.2s;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
  -webkit-transition: background ease-in-out 0.2s;
  -moz-transition: background ease-in-out 0.2s;
  -ms-transition: background ease-in-out 0.2s;
  -o-transition: background ease-in-out 0.2s;
}

.Card-optionsButton:nth-child(1) {
  background: #e8e8e8;
}

.Card-optionsButton:nth-child(2) {
  background: #dedede;
}

.Card.active {
  height: 60vh;
  background-color: rgb(245, 245, 245);
  position: relative;
}

.Card.active .Card-banner {
  height: 12vh;
  margin-bottom: 30%;

  position: absolute;
  top: 0;
  border-radius: 1.3vw 1.3vw 0vw 0vw;
  -webkit-border-radius: 1.3vw 1.3vw 0vw 0vw;
  -moz-border-radius: 1.3vw 1.3vw 0vw 0vw;
  -ms-border-radius: 1.3vw 1.3vw 0vw 0vw;
  -o-border-radius: 1.3vw 1.3vw 0vw 0vw;
}

.Card-content {
  transition: opacity ease-in-out 0.52s;
  flex: 1;
  z-index: 2;
  opacity: 0;
  height: 90%;
  margin-top: 9%;
  width: 0%;
  position: relative;
  background: #f8f8f8;
  -webkit-transition: opacity ease-in-out 0.52s;
  -moz-transition: opacity ease-in-out 0.52s;
  -ms-transition: opacity ease-in-out 0.52s;
  -o-transition: opacity ease-in-out 0.52s;
}

.Card.active .Card-content {
  height: 40vh;
  top: 3%;
  position: absolute;
  opacity: 1;
  width: 100%;
}

.Card-reviews {
  overflow: hidden;
  border-radius: 1.3vw;
  padding: 15px;
  width: 90%;
  height: 90%;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.089);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 1.3vw;
  -moz-border-radius: 1.3vw;
  -ms-border-radius: 1.3vw;
  -o-border-radius: 1.3vw;
}

.Card-reviews h3 {
  position: absolute;
  bottom: 0;
  left: 5%;
}

.Card-ratings-wrapper {
  position: absolute;
  transition: ease-in-out 0.8s;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  width: 79%;
  height: 100%;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: auto;
  -webkit-transition: ease-in-out 0.8s;
  -moz-transition: ease-in-out 0.8s;
  -ms-transition: ease-in-out 0.8s;
  -o-transition: ease-in-out 0.8s;
}

.Card-ratings-wrapper button {
  border-radius: 500px;
  width: 4.8%;
  height: 15%;
  background: rgba(255, 255, 255, 0.893);
  color: #2c2c2c;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.466);
  position: fixed;
  right: 25%;
  z-index: 70;
  top: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  visibility: hidden;
}

.Card-ratings-button.visible {
  visibility: visible;
}

.Card-photo {
  position: absolute;
  width: 25%;
  height: 100%;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 30;
}

.Card-photo img {
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.122);
  height: 100%;
}

.Card-addRating {
  position: absolute;
  bottom: -10%;
  left: 5%;
  text-transform: uppercase;
  text-decoration: underline;
  color: #8f2ffd;
  font-weight: bolder;
  border: none;
}

.Card-rating-Form {
  visibility: hidden;
  transition: bottom ease-out 0.7s, opacity ease-in-out 0.3s;
  position: absolute;
  bottom: 15%;
  width: 100%;
  opacity: 0;
  -webkit-transition: bottom ease-out 0.7s, opacity ease-in-out 0.3s;
  -moz-transition: bottom ease-out 0.7s, opacity ease-in-out 0.3s;
  -ms-transition: bottom ease-out 0.7s, opacity ease-in-out 0.3s;
  -o-transition: bottom ease-out 0.7s, opacity ease-in-out 0.3s;
}

.Card-rating-Form.active {
  visibility: visible;
  opacity: 1;
  bottom: 5%;
}

.Card-visible-form {
  height: 100vh !important;
}

@keyframes Card-Appear {
  0% {
    opacity: 0;
    margin-left: -10px;

  }

  100% {
    opacity: 1;
  }
}