.Location-card-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.27);
  z-index: 150;
  user-select: none;
}

.Location-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.137);
  text-align: left;
  font-weight: bolder;
  width: 40%;
  height: 15%;
  position: absolute;
  left: 50%;
  top: 50%;
  background: white;
  color: rgb(59, 59, 59);
  z-index: 103;
  border-radius: 1.3vw;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 1.3vw;
  -moz-border-radius: 1.3vw;
  -ms-border-radius: 1.3vw;
  -o-border-radius: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.Location-choice {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.Location-choice:hover {
  color: #8f2ffd;
  cursor: pointer;

}



.Location-choice:hover ion-icon[name="locate"] {
  animation: ease-in-out Rotate-Location 3s infinite;
  -webkit-animation: ease-in-out Rotate-Location 3s infinite;
}

.Location-choice:hover ion-icon[name="search"] {
  animation: ease-in-out Zoom-Search 4s infinite;
  -webkit-animation: ease-in-out Zoom-Search 4s infinite;
}


.Location-card em {
  color: rgb(59, 59, 59);
  font-weight: normal;
  font-style: normal;
}

.Location-card ion-icon {
  width: 30%;
}



@keyframes Rotate-Location {
  0% {}

  25% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  30% {}

  31% {}

  100% {}
}


@keyframes Zoom-Search {
  0% {}

  25% {
    transform: scale(1.5) translateX(-10%);
    -webkit-transform: scale(1.5) translateX(-10%);
    -moz-transform: scale(1.5) translateX(-10%);
    -ms-transform: scale(1.5) translateX(-10%);
    -o-transform: scale(1.5) translateX(-10%);
  }

  45% {
    transform: scale(1.3) translate(10%) rotate(10deg);
    -webkit-transform: scale(1.3) translate(10%) rotate(10deg);
    -moz-transform: scale(1.3) translate(10%) rotate(10deg);
    -ms-transform: scale(1.3) translate(10%) rotate(10deg);
    -o-transform: scale(1.3) translate(10%) rotate(10deg);
  }


  100% {}
}