.Review {
  overflow: hidden;
  height: 17%;
  z-index: 10;
  width: 40%;
  border-radius: 4vw;
  background: #F5F5F5;
  -webkit-border-radius: 4vw;
  -moz-border-radius: 4vw;
  -ms-border-radius: 4vw;
  -o-border-radius: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  position: relative;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.089);
  margin: 15px;

}

.Review-profilePicture {
  width: 20%;
  height: 100%;
  margin: 0;
  align-content: center;
  position: relative;

}

.Review-profilePicture img {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  border: solid 3px white;
  border-radius: 30vw;
  -webkit-border-radius: 30vw;
  -moz-border-radius: 30vw;
  -ms-border-radius: 30vw;
  -o-border-radius: 30vw;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.Review-content {
  margin-top: 20px;
  margin: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Review-userInfo {
  display: flex;
  margin: 0;

}

.Review-userName {
  margin: 0;
  margin-top: 10px;

  font-size: .7em;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.Review-rating {
  margin-top: -10px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.Review-stars {
  margin: 0;
  padding: 9px;
  height: 100%;
  text-align: right;
  min-width: 50%;
}

.Review-comment {
  font-size: .6rem;
  width: 50%;
}

.Review-thumb {
  pointer-events: all;
  margin-right: 20px;
  z-index: 50;
}

.Review-thumb ion-icon {
  color: rgba(0, 0, 0, 0);
  stroke: #2c2c2c;
  stroke-width: 32px;
}

.Review:hover ion-icon {
  color: #2c2c2c !important;
  
}